@font-face {
	font-family: 'Beauty';
	src: url(../../fonts/BeautyDemo.otf) format('truetype'), url(../../fonts/BeautyDemo.otf) format('opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Calinastiya';
	src: url(../../fonts/Calinastiya\ demo.ttf) format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Royal';
	src: url(../../fonts/Royalty\ DEMO.ttf) format('truetype');
	font-weight: normal;
	font-style: normal;
}

* {
	margin: 0;
	padding: 0;
}

html, body {
	background-color: rgb(244,242,236);
    text-align: center;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    row-gap: 1.1vh;
    padding: 2vh;
}

h1 {
	font-family: 'Royal';
	color: rgb(227, 153, 165);
	font-size: 4em;
	margin-top: 20px;
}

.entrada {
	padding-bottom: 20px;
}

.welcome {
    background-color: rgb(235,234,231);
    padding: 5vh;
    font-family: 'Beauty';
}

nav {
	width: 30vw;
	margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
	column-gap: 10px;
	row-gap: 10px;
	margin-bottom: 20px;
}

nav > a {
    text-decoration: none;
    color: black;
    margin: auto;
}

nav a:active {
	color: pink;
}

nav a:focus{
	color: pink;
}

nav a:hover {
	color: pink;
}

h2 {
    color: rgb(121,37,61);
	font-size: 4em;
}

h3 {
	color: rgb(121,37,61);
	font-family: 'Royal';
	font-size: 4em;
	margin-top: 1.2em;
}

.trabalho {
	display: flex;
	flex-wrap: wrap;
	column-gap: 10px;
	row-gap: 20px;
	justify-content: space-around;
}

.background-trabalho {
	background-image: url(../../img/pinceis.jpg);
	background-color: black;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	padding-bottom: 30px;
}

.background-trabalho .layout {
	position: relative;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.839);
	color: rgb(255, 254, 254);
}

.background-trabalho .layout::before {
	position: absolute;
	background: url(../../img/pinceis.jpg);
	background-attachment: fixed;
	backdrop-filter: blur(20px);
	-webkit-backdrop-filter: blur(20px);
}

.background-trabalho .layout h3 {
	position: relative;
}

.background-trabalho .layout img {
	position: relative;
}

.background-trabalho .layout button {
	position: relative;
}

.trabalho img {
	width: 30vw;
	border-radius: 10px;
	margin: 2px;
}

.agendamento {
	color: rgb(200, 73, 94);
}

.agendamento button {
	border-radius: 20px;
	padding: 3px;
	border-color: pink;
	background-color: rgba(255, 192, 203, 0.676);
}

.agendamento p {
	font-size: 1.4em;
}

.agendamento button img {
	width: 20px;
	background-color: rgba(255, 192, 203, 0.676);
}

.equipe {
	margin-top: 30px;
	display: flex;
	column-gap: 50px;
	row-gap: 20px;
	justify-content: space-around;
	flex-wrap: wrap;
}

.equipe .card {
	width: 40vw;
	background-color: rgba(0, 0, 0, 0.128);
	border-radius: 10px;
}

.equipe .card img {
	border-radius: 10px;
}

.equipe .card a {
	color: rgb(209, 72, 95);
	text-decoration: none;
}

footer {
	margin-top: 20px;
}

footer p {
	font-size: 0.8em;
	color: rgba(0, 0, 0, 0.256);
}
